.score {
    padding: 20px 0 0 20px;
    width: 165px;
    height: 150px;

    border: 3px solid $third;

    position: absolute;
    top: 0;
    left: -220px;
    z-index: 1;
}

.score__text {
    font-size: 24px;
    font-weight: bold;
    color: $second;
}

.score__num {
    font-size: 24px;
    font-weight: bold;
    color: $second;
}
